@import "../global.css";

.container-admin {
  margin-top: 3%;
  margin-left: 12%;
  margin-right: 20%;
}

.scroll{
  max-height: 50%;
  overflow: auto;
}

.uno-color {
  color: var(--uno);
}

.eliminar-btn {
  color: white;
  background-color: var(--dos);
  width: 50%;
  font-size: small;
}

.actualizar-btn {
  color: white;
  background-color: var(--uno);
  width: 50%;
  font-size: small;
}

.fecha{
    display: block;
    width: 120%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dia-celula{
    margin: 0% !important;
}

h3 {
  color: var(--uno);
  justify-content: left !important;
}
