@import "../global.css";

.uno-color {
  color: var(--uno);
}

.asistencia-btn {
  color: white;
  background-color: var(--dos);
  width: 37%;
  font-size: small;
}

.asistencia-btn:hover {
  color: white;
  background-color: var(--dos);
  opacity: 80%;
}

.detalle-btn {
  color: white;
  background-color: var(--uno);
  width: 50%;
  font-size: small;
}

.detalle-btn:hover {
  color: white;
  background-color: var(--uno);
  opacity: 80%;
}

.salir-btn{
    color: white;
    background-color: var(--dos);
    width: 10%;
    float: right;
}

.modal-div{
    margin-right: 15%;
    margin-left: 5%;
}

.size-small{
  width: 10% !important;
}