@import "../global.css";

.container-lider {
  margin-top: 3% !important;
  margin-left: 12% !important;
  margin-right: 20% !important;
}

.sangria{
  margin-left: 2%;
  margin-right: 2%;
}

.botones{
  margin-top: 5%;
  margin-left: 65%;
  margin-right: 0.5%;
}

.salir-btn{
  color: white;
  background-color: var(--dos);
  width: 50%;
  float: right;
}

.guardar-btn{
  color: white;
  background-color: var(--uno);
  width: 50%;
  float: right;
}

.salir-btn:hover{
  color: white;
  background-color: var(--dos);
  opacity: 80%;
}

.guardar-btn:hover{
  color: white;
  background-color: var(--uno);
  opacity: 80%;
}

.modal-div{
  margin-right: 15%;
  margin-left: 5%;
}

.efecto-hover:hover{
  color: red;
  cursor: pointer;
}

.uno-color {
  color: var(--uno);
}

.eliminar-btn {
  color: white;
  background-color: var(--dos);
  width: 50%;
  font-size: small;
}

.eliminar-btn:hover {
  color: white;
  background-color: var(--dos);
  opacity: 80%;
}

.actualizar-btn {
  color: white;
  background-color: var(--uno);
  width: 50%;
  font-size: small;
}

.actualizar-btn:hover {
  color: white;
  background-color: var(--uno);
  opacity: 80%;
}

.fuente{
  color: var(--uno);
  font-size: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
}