@import "../global.css";

.container-login{
  height: 750px;
}

.container {
  background-color: var(--uno);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo-botones {
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form {
  width: 35%;
}

.btn {
  background-color: var(--dos);
  border-radius: 50px;
  width: 30%;
}

h3 {
  color: var(--tres);
  text-align: center;
}

.entrada {
  border-radius: 35%;
  border: auto;
}

label {
  color: var(--tres);
  border-radius: 50px;
}
