@import "../global.css";

.nav-def {
  background-color: var(--uno);
  margin-top: 1.5%;
  width: 100%;
}

.nav-bar {
  height: 60px;
}

h1 {
  color: white;
  font-size: 200%;
}

label {
  color: var(--dos);
  font-size: 120%;
}

div{
    align-items: center;
}

.img-nav {
  width: 50px;
  height: 50px;
  margin-left: 80%;
  justify-content: center;
  align-items: center;
}
